# ===============================================
# Note to avoid future compatibility issues: 
# (1) Use a virtual environment.
# (2) Please add version numbers when adding new packages.
# ===============================================

# General Utils
numpy>=1.26,<2
pynvml==13.0.1 # logging GPU usage
psutil==7.1.3  # logging CPU and RAM usage

# General Video Processing
opencv-python>=4.7 #OpenCV for video processing
scenedetect>=0.6 # PySceneDetect
imageio_ffmpeg==0.6.0 # Saving cut clips

# Light Captioning - BLIP 
torch == 2.9.1 
transformers==4.57.1
Pillow== 12.0.0

# Heavy Captioning - InternLM-XComposer2
sentencepiece==0.2.1
torchvision==0.24.1
einops==0.8.1

# Heavy Captioning - Gemini Pro 2.5
google-genai==1.50.1
dotenv==0.9.9

# Object Detection - YOLOv8
ultralytics==8.3.230

# Audio / ASR / Audio Captioning 
openai-whisper>=20230314
torchaudio==2.9.1  # Must match torch 2.9.1 on Windows
torchcodec>=0.0.7
librosa>=0.10.0
soundfile>=0.12.1
ffmpeg_downloader>=0.3.0
ffmpeg-python>=0.1.20
noisereduce>=2.0.1 # Noise reduction
pyannote.audio==3.2.0  # Voice Activity Detection